// ---------------------------------------------------------===
// Announcement styles
// ---------------------------------------------------------===

.recent-announcements-list {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    margin: -20px -12px;
    padding-right: 10px;

    @include media('<widescreen') {
        padding-right: 0;
    }

    @include media('<desktop') {
        margin: -15px -11px;
    }

    @include media('<tablet') {
        padding-top: 9px;
    }

    li {
        width: 33.33%;
        padding: 20px 12px;

        @include media('<widescreen') {
            width: 50%;
        }

        @include media('<desktop') {
            padding: 15px 11px;
        }

        @include media('<tablet') {
            width: 100%;
        }
    }

    a {
        display: block;

        &:hover {

            .card {
                box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
            }
        }
    }

    strong {
        display: block;
        font-weight: 800;
        font-size: 12px;
        line-height: 1.22;
        letter-spacing: 2.5px;
        color: color(gray,5);
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    h6 {
        color: color(black,2);
        margin-bottom: 10px;
    }

    span {
        display: block;
        color: color(gray,5);
        font-weight: 600;
        font-size: 20px;
        line-height: 0.9;
        letter-spacing: -0.5px;
    }
}

.card {
    @include animate(box-shadow);
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;

    .wrap {
        @include animate(transform);
        width: 100%;
        padding-top: 62.62%;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;
        }
    }

    &.orange {
        background: color(orange,1);
    }

    &.blue {
        background: color(blue,1);
    }

    &.green {
        background: color(green,1);
    }

    &.dark-blue {
        background: color(blue,3);
    }

    &.black {
        background: color(black,2);
    }

    .logo {
        @include box-align(vc);
        left: 0;
        right: 0;
        text-align: center;
    }

    .text {
        position: absolute;
        right: 17px;
        bottom: 15px;
        max-width: 200px;
        padding-right: 34px;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.01em;
        color: color(white);
        font-weight: 800;

        &:after {
            content: "\e916";
            position: absolute;
            right: 2px;
            bottom: 4px;
            font: 14px/1 "icomoon";
        }
    }
}