// ---------------------------------------------------------===
// aside styles
// ---------------------------------------------------------===

.aside {
    width: 408px;
    border-left: 1px solid color(gray,5);
    padding: 0 0 100px 70px;

    @include media('<widescreen') {
        width: 350px;
        padding-left: 40px;
    }

    @include media('<desktop') {
        width: 100%;
        padding: 0 0 70px;
        border: none;
    }

    &.on-mobile {
        padding: 0 24px 24px;
    }

    .block {
        margin-bottom: 230px;

        @include media('<desktop') {
            margin-bottom: 46px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.on-mobile {

            @include media('>=tablet') {
                display: none;
            }
        }

        &.on-desktop {

            @include media('<tablet') {
                display: none;
            }
        }

        > h6 {
            font-size: 20px;
            line-height: 1.172;
            letter-spacing: 2.5px;
            margin-bottom: 53px;

            @include media('<tablet') {
                margin-bottom: 35px;
            }
        }
    }

    &.tweets {

        @include media('<desktop') {
            display: none;
        }
    }

    .book-order {
        display: flex;
        flex-wrap: wrap;

        .book {
            width: 170px;
            filter: drop-shadow(-10px 10px 15px rgba(color(black,1), 0.5));

            @include media('<widescreen') {
                width: 120px;
            }
        }

        .desc {
            flex: 1;
            padding-left: 38px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}