// ---------------------------------------------------------===
// Books styles
// ---------------------------------------------------------===

.books {
	padding: 77px 0;

	@include media('<desktop') {
		padding: 49px 0;
	}

	@include media('<tablet') {
		padding: 22px 0;
	}

	h2 {
		color: color(orange,1);
		margin-bottom: 58px;

		@include media('<desktop') {
			margin-bottom: 48px;
		}

		@include media('<tablet') {
			margin-bottom: 38px;
		}
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		margin: -50px -75px;

		@include media('<widescreen') {
			margin: -30px;
		}

		.col {
			width: 50%;
			padding: 50px 75px;
			display: flex;
			flex-wrap: wrap;

			@include media('<widescreen') {
				padding: 30px;
			}

			@include media('<desktop') {
				width: 100%;
			}
		}

		a {
			display: flex;
			flex-wrap: wrap;
			color: color(black,2);

			&:hover {

				.link {
					color: color(green,1);
				}

				.book {
					filter: drop-shadow(-10px 10px 15px rgba(color(black,1), 0.65));

					img {
						transform: translateY(-6px);
					}
				}
			}
		}
	}

	.book {
		@include animate(all);
		position: relative;
		width: 216px;
		filter: drop-shadow(-10px 10px 15px rgba(color(black,1), 0.5));

		@include media('<widescreen') {
			width: 170px;
		}

		@include media('<desktop') {
			width: 220px;
		}

		@include media('<tablet') {
			width: 216px;
			margin: 0 auto 50px;
			text-align: center;
		}

		img {
			@include animate(all);
			position: relative;
			width: 100%;
		}
	}

	.desc {
		padding-left: 30px;
		flex: 1;

		@include media('<desktop') {
			padding-left: 45px;
		}

		@include media('<tablet') {
			padding: 0;
			width: 100%;
			flex: none;
		}

		h6 {

			@include media('<desktop') {
				margin-bottom: 9px;
			}

			@include media('<tablet') {
				font-size: 20px;
				line-height: 1.15;
			}
		}
	}

	.author {
		margin-bottom: 20px;

		@include media('<tablet') {
			margin-bottom: 35px;
		}
	}

	.linkk {

		@include media('<tablet') {
			margin-top: 9px;
		}
	}
}