// ---------------------------------------------------------===
// Future Carousel styles
// ---------------------------------------------------------===

.employee-banner {
    position: relative;
    padding: 30px 0 0;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    color: color(white,1);
    margin-bottom: 20px;

    @include media('<tablet') {
        padding: 0;
        margin: 0;
        background: none !important;
        min-height: 1px;
    }

    &.bg-orange {
        background: color(orange,1);

        .avatar-col {

            @include media('<tablet') {
                background: color(orange,1);
            }
        }
    }

    + .content-wrapper {

        @include media('<tablet') {
            padding-top: 29px;
        }
    }

    > .pattern {
        z-index: 2;
        overflow: hidden;

        @include media('<tablet') {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    > .container {
        position: relative; 
        z-index: 3;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        position: relative;

        @include media('>=tablet') {
            flex-direction: row-reverse;
        }

        @include media('<tablet') {
            padding: 0;
        }
    }

    .content-wrap {
        flex: 1;
        padding: 0 20px 20px 0;

        strong {
            font-size: 14px;
            line-height: 1;
            letter-spacing: 2.5px;
            font-weight: 800;
            display: block;
            margin-bottom: 17px;
        }

        h1 {
            margin-bottom: 14px;
        }

        h4 {
            font-weight: 300;
            margin-bottom: 35px;

            &:last-child {

                @include media('<tablet') {
                    margin-bottom: 0;
                }
            }
        }

        @include media('<tablet') {
            padding: 60px 24px 0;
            color: color(black,2);
        }
    }

    .avatar-col {

        @include media('<tablet') {
            width: 100%;
            position: relative;
        }

        .inner {
            
            @include media('<tablet') {
                width: 100%;
                position: relative;
                min-height: 296px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                overflow: hidden;
            }
        }

        .pattern {

            @include media('>=tablet') {
                display: none;
            }
        }
    }

    .avatar-wrap {
        width: 336px;
        margin-right: 74px;
        position: relative;
        z-index: 3;
        overflow: hidden;

        @include media('<desktop') {
            width: 200px;
            margin-right: 0;
        }

        @include media('<tablet') {
            width: 336px;
            margin: 0 auto;
        }
    }
}

.social-connects-wrap {
    position: absolute;
    bottom: -20px;
    left: 24px;
    right: 0;
    z-index: 4;

    @include media('<desktop') {
        left: 65px;
    }

    @include media('<tablet') {
        left: 0;
        right: 0;
        text-align: center;
    }
}

.social-connects {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    margin: -9px;

    @include media('<tablet') {
        justify-content: center;
    }

    li {
        padding: 9px;

        a {
            @include animate(color background);
            display: block;
            width: 36px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: color(black,2);

            &:hover {
                background: color(blue,1);
            }

            i {
                color: color(white,1);
            }
        }
    }
}