// ---------------------------------------------------------===
// Podcast Network styles
// ---------------------------------------------------------===

.podcast-network {
    background: color(gray,1);
    padding: 85px 0;
    overflow: hidden;

    @include media('<desktop') {
        padding: 40px 0 63px;
    }

    h2 {
        color: color(orange,1);
        margin-bottom: 52px;

        @include media('<desktop') {
            margin-bottom: 0;
        }
    }

    .podcast-slider {
        position: relative;

        @include media('<desktop') {
            max-width: 484px;
            margin: 0 auto;
            overflow: hidden;
            padding-top: 42px;
        }
    }

    .pagination-wrapper {

        @include media('<desktop') {
            height: 355px;
            position: absolute;
            top: 42px;
            right: 0;
            bottom: 0;
            left: 0;
            align-items: flex-end;
            padding-bottom: 20px;

            .swiper-pagination-bullet {
                border-color: color(white,1);

                &:hover,
                &.swiper-pagination-bullet-active {
                    background: color(white,1);
                }
            }
        }
    }

    .swiper-pagination {
        padding-top: 20px;

        @include media('>=desktop') {
            display: none;
        }
    }
}

.podcast-card {
    width: 412px;
    height: 412px;
    position: relative;

    @include media('<desktop') {
        width: 100%;
        height: auto;
    }

    // @include media('<tablet') {
    //     width: 216px;
    //     height: 216px;
    // }

    &:hover {

        .front {

            @include media('>=desktop') {
                transform: perspective(1000px) rotateY(180deg);
            }
        }

        .back{

            @include media('>=desktop') {
                transform: perspective(1000px) rotateY(0deg);
                box-shadow: 0 0 20px 5px rgba(75, 79, 84, 0.2);
            }
        }
    }

    .front {
        position: relative;
        width: 355px;
        height: 355px;
        margin: 0 auto;

        @include media('>=desktop') {
            width: 100%;
            height: auto;
            padding-top: 100%;
            backface-visibility: hidden;
            transform: perspective(1000px) rotateY(0deg);
            transition: 0.3s;
            box-shadow: 0 0 20px 5px rgba(75, 79, 84, 0.2);
        }
    }

    .img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover; 
        background-position: 50% 50%;

        @include media('<desktop') {
            box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
        }

        &:before {

            @include media('<desktop') {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 76.56%, rgba(0, 0, 0, 0.35) 100%);
                z-index: 1;
            }
        }
    }

    .back {

        @include media('>=desktop') {
            position: absolute;
            top: 0;   
            left: 0;
            right: 0;
            bottom: 0;
            background: color(white,1);
            border: 2px solid color(orange,1);
            padding: 15px 10px;
            backface-visibility: hidden;
            transform: perspective(1000px) rotateY(-180deg);
            transition: 0.3s;
        }

        @include media('>=widescreen') {
            padding: 30px 21px;
            border-width: 3px;
        }

        @include media('<desktop') {
            padding: 24px;
        }
    }

    .card-content {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        font-size: 22px;
        line-height: 1.2727;
        letter-spacing: -0.005em;

        // @include media('<desktop') {
        //     font-size: 12px;
        // }

        @include media('<desktop') {
            font-size: 16px;
            line-height: 1.25;
        }

        .title {
            font-size: 32px;
            line-height: 1;
            font-weight: 800;
            letter-spacing: 0;
            display: block;
            margin-bottom: 20px;

            // @include media('<desktop') {
            //     font-size: 22px;
            //     margin-bottom: 10px;
            // }

            @include media('<desktop') {
                color: color(orange,1);
                font-size: 28px;
                line-height: 1;
                letter-spacing: -0.5px;
            }
        }

        .link {
            @include media('<desktop') {
                font-size: 16px;
                padding-right: 22px;
            }

            &:after {
                @include media('<desktop') {
                    font-size: 12px;
                }
            }
        }

        .btm {

            @include media('>=tablet', '<desktop') {
                text-align: center;
            }
        }
    }
}