// ---------------------------------------------------------===
// Variables
// ---------------------------------------------------------===

// Colors
$colors: (
    black: (
        1: #000,
        2: #4B4F54,
    ),
    white: (
        1: #fff,
    ),
    blue: (
        1: #5BC2E7,
        2: #0057b8,
        3: #00a3ad,
    ),
    orange: (
        1: #ed8b00,
    ),
    gray: (
        1: #f6f7f7,
        2: #eff8fd,
        3: #d0d0ce,
        4: #a0a3a9,
        5: #97999b,
    ),
    green: (
        1: #93c90e,
        2: #00873e,
    ),
    purple: (
        1: #6e3fa3,
    ),
    red: (
        1: #ef3340,
    )
);

$dir: '../..';
$font-path: '#{$dir}/fonts';
$image-path: '#{$dir}/images';

$helvetica: 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$base-font-sans-serif: $helvetica;
$ProximaNova: 'Proxima Nova',$helvetica;
$national: 'national-2', sans-serif;
$national_condensed: 'national-2-condensed', sans-serif;

// Body
$base-text-color: color(black,2) !default;
$base-background-color: color(white) !default;
$font-size-base: 16px !default;
$line-height-base: 1.218 !default;
$base-font-family: $ProximaNova !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: color(blue,1);

// Buttons 
$btn-color: color(white) !default;
$btn-background: color(black) !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: color(black,2) !default;
$form-element-focus-border-color: color(black) !default;
$form-border-radius: 5px !default;
$placeholder-color: color(black,2) !default;

// Headers
$h1-font-size: 72px !default;
$h2-font-size: 60px !default;
$h3-font-size: 48px !default;
$h4-font-size: 36px !default;
$h5-font-size: 30px !default;
$h6-font-size: 24px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;

// nice select
$niceSelect: false;
$niceCheckRadio: false;

// grid 
$usegrid: true;
$grid-count: 12;
$grid-gutter: 40px;
$container-width: 1414px;
// $grid-gutter-mobile: 20px;  // Define if the mobile gutter is different
// $container-gutter: 40px; // Define if the container gutter is different than grid gutter