// ---------------------------------------------------------===
// Common styles
// ---------------------------------------------------------===

.link {
    display: inline-flex;
    align-items: center;
    padding-right: 30px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: color(blue,1);
    position: relative;
    font-weight: 800;

    &:after {
        content: "\e915";
        @include box-align(vc);
        right: 0;
        font: 14px/1 "icomoon";
    }

    &:hover {
        color: color(green,1);
    }
}

.btn {
    @include animate(background color);
    display: inline-block;
    vertical-align: top;
    padding: 15px 20px;
    font: 16px/1 $ProximaNova;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-weight: 700;

    &.btn-black {
        background: color(black,1);
        color: color(white,1);

        &:hover {
            color: color(black,1);
            background: color(white,1);
        }
    }
}

.author {
    display: block;
    color: color(gray,5);
    font-weight: 600;
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: -0.5px;
}

.news-latest {
    padding-top: 82px;

    h2 {
        color: color(orange,1);
        margin-bottom: 55px;
    }
}

.content-holder {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;

    .content {
        flex: 1;
        padding: 0 59px 100px 0;
    }

    .aside {
        width: 408px;
        border-left: 1px solid color(gray,5);
        padding: 0 0 100px 74px;

        &.upcoming-events {
            padding-top: 51px;
        }

        > h6 {
            font-size: 20px;
            line-height: 1.172;
            letter-spacing: 2.5px;
            margin-bottom: 53px;
        }
    }
}