// ---------------------------------------------------------===
// Common styles
// ---------------------------------------------------------===

.container {

    @include media('>=tablet', '<desktop') {
        padding-left: 65px;
        padding-right: 65px;
    }
}

.link {
    display: inline-flex;
    align-items: center;
    padding-right: 30px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: color(blue,1);
    position: relative;
    font-weight: 800;

    &:after {
        content: "\e915";
        @include box-align(vc);
        right: 0;
        font: 14px/1 "icomoon";
    }

    &:hover {
        color: color(green,1);
    }
}

.btn {
    @include animate(background color);
    display: inline-block;
    vertical-align: top;
    padding: 15px 20px;
    font: 16px/1 $ProximaNova;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-weight: 700;

    &.btn-black {
        background: color(black,1);
        color: color(white,1);

        &:hover {
            color: color(black,1);
            background: color(white,1);
        }
    }
}

.author {
    display: block;
    color: color(gray,5);
    font-weight: 600;
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: -0.5px;

    @include media('<tablet') {
        font-size: 18px;
    }
}

.content-wrapper {
    padding-top: 82px;

    @include media('<desktop') {
        padding-top: 27px;
    }

    @include media('<tablet') {
        padding-top: 58px;
    }

    h2 {
        color: color(orange,1);
        margin-bottom: 55px;

        @include media('<desktop') {
            margin-bottom: 16px;
        }

        @include media('<tablet') {
            margin-bottom: 24px;
        }
    }
}

.content-holder {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;

    @include media('<desktop') {
        display: block;
    }

    .block {

        + .block {
            margin-top: 90px;

            @include media('<desktop') {
                margin-top: 46px;
            }
        }
    }

    .content {
        flex: 1;
        padding: 0 59px 100px 0;

        @include media('<widescreen') {
            padding-right: 40px;
        }

        @include media('<desktop') {
            flex: none;
            width: 100%;
            padding: 0 0 40px;
        }

        @include media('<tablet') {
            padding-bottom: 59px;
        }
    }
}

.pattern {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
        width: 100%;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.s-content {
  max-height: 220px;
  width: 350px;
  overflow: auto;
}