// ---------------------------------------------------------===
// Header styles
// ---------------------------------------------------------===

.hello-bar {
    background: color(orange,1);
    padding: 20px 0;
    color: color(white,1);
    font-size: 18px;
    line-height: 1.389;
    font-weight: 300;

    .container {
        position: relative;
        padding-left: 24px;
        padding-right: 24px;
    }

    p {
        margin: 0;
        padding-right: 40px;
    }

    .close {
        @include box-align(vc);
        right: 20px;
        color: color(white,1);
        width: 16px;
        height: 16px;

        &:hover {
            color: color(blue,1);
        }
    }
}

#header {
    padding: 40px 0;
    position: relative;
    z-index: 9998;

    @include media('<desktop') {
        padding: 25px 0;
    }

    &:after {
        @include box-align(hc);
        content: "";
        top: 100%;
        background: url('#{$image-path}/bg-nav.png') no-repeat 50% 0 / contain;
        width: 1682px;
        height: 185px;
        pointer-events: none;

        @include media('<desktop') {
            background-image: url('#{$image-path}/bg-nav-tablet.png');
            width: 834px;
            height: 75px;
        }
    }

    > .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-left: 24px;
        padding-right: 24px;
    }

    .nav-opener {
        @include box-align(vc);
        right: 20px;
        color: color(black,2);
        font-size: 16px;

        @include media('<desktop') {
            right: 24px;
        }
    }

    .logo {
        width: 215px;

        @include media('<desktop') {
            width: 152px;
        }

        a {
            display: block;
        }
    }
}

.nav-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 66px;

    @include media('<desktop') {
        display: none;
    }
}

#nav {

    > ul {
        @extend %listreset;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -17px;

        > li {
            padding: 0 17px;

            > a {
                color: color(black,2);
            }
        }
    }
}

.search-nav {
    padding-left: 44px;

    a {
        color: color(black,2);
    }
}

.dropdown {
    background: color(black,2);
    padding: 40px 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 9999;

    &:before,
    &:after {
        content: "";
        background: color(black,2);
        position: absolute;
        right: 100%;
        left: -9999px;
        top: 0;
        bottom: 0;
    }

    &:after {
        right: -9999px;
        left: 100%;
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .drop-intro {
        width: 284px;
        color: color(gray,5);
        padding-right: 30px;

        .title {
            display: block;
            color: color(white,1);
            font-size: 44px;
            line-height: 1;
            margin-bottom: 5px;
        }
    }

    .drop-list-wrap {
        flex: 1;
        max-width: 936px;
    }

    .drop-list {
        @extend %listreset;
        margin: -40px -25px;
        padding-bottom: 72px;
        display: flex;
        flex-wrap: wrap;
        font-size: 21px;
        line-height: 1.19;
        font-weight: 700;

        li {
            width: 25%;
            padding: 40px 25px;

            a {
                color: color(white,1);

                &:hover {
                    color: color(blue,1);
                }
            }
        }
    }
}

.longEnough {
  max-height: 220px;
  width: 350px;
  overflow: auto;
}